.header{
    grid-area: h;
    background-color: seagreen;
  }
.logo{
    height: 100px;
    display: flex;
    justify-content: space-between;
    }
.logo img{
      width: 55px;
      height: 55px;
      margin-left: 50px;
    }

.login{
  color: white;
  padding-right: 50px;
}