*{
  margin: 0;
  padding: 0;
}
.grid{
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas: 
  "h h"
  "s c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 3fr 10fr;
  grid-gap: 10px;
}
li{
  list-style: none;
  margin-left: 30px;
}
a{
  text-decoration: none;
  font-size: 30px;
  color: black;
}
a:hover{
  color: blue;
  opacity: 0.6;
}
.content{
  grid-area: c;
  background-color: royalblue;
}
